@value screen-lg from '../../shared/breakpoints.css';
@value layout-vertical, layout-horizontal, flex from '../../shared/layout.css'; 
@value nav-sm-height, content-width, wrapper-margin from '../../shared/variables.css';

@value border-color: rgb(151, 151, 151);
@value text-color: white;
@value hero-sm-height: 260px;
@value hero-lg-height: 360px;

.Hero {
  composes: layout-horizontal;
  position: relative;
  justify-content: center;
  border-bottom: 1px solid border-color;
  color: text-color;
  text-transform: uppercase;
  margin-top: nav-sm-height;
}

.wrapper {
  composes: layout-vertical;
  position: relative;
  width: 100%;
  height: 40%;
  min-height: hero-sm-height;
  max-width: content-width;
  margin: wrapper-margin;
}

.intro {
  composes: flex;
  composes: layout-vertical;
  align-items: center;
  justify-content: center;
}

@media screen-lg {
  .Hero {
    margin-top: 0;
  }
  .wrapper {
    min-height: hero-lg-height;
  }
}