.flex {
  flex: 1;
}

.layout {
  display: flex;
}

.layout-horizontal {
  composes: layout;
  flex-direction: row;
}

.layout-vertical {
  composes: layout;
  flex-direction: column;
}

.fullbleed {
  position: absolute;
  width: 100%;
  height: 100%;
}