@value screen-lg from '../../shared/breakpoints.css';
@value fullbleed from '../../shared/layout.css'; 

@value filter-color: rgba(0, 0, 0, 0.6);

.NeighbourhoodPicture {
  composes: fullbleed;
  position: absolute;
}

.picture {
  composes: fullbleed;
  object-fit: cover;
  object-position: 50% 0;
}

.filter {
  composes: fullbleed;
  background-color: filter-color;
}