@value screen-sm, screen-lg from '../../shared/breakpoints.css';
@value layout-horizontal, layout-vertical, flex from '../../shared/layout.css';
@value font-regular, font-large from '../../shared/variables.css';

@value row-color: rgb(155, 155, 155);
@value link-color: rgb(30, 186, 178);
@value title-color: black;
@value row-hover-bg: rgba(200, 200, 200, 0.1);
@value title-hover-color: rgb(0, 142, 131);
@value column-margin: 30px;

.RestaurantInfo {
  composes: layout-horizontal;
  align-items: center;
  font-size: font-large;
  color: row-color;
  padding: 20px;
}

.RestaurantInfo:hover {
  background: row-hover-bg;
}

.RestaurantInfo div {
  margin: 0 column-margin;
}

.RestaurantInfo > div:first-of-type {
  margin-left: 0;
}

.RestaurantInfo > div:last-of-type {
  margin-right: 0;
}

.title {
  composes: flex;
  color: title-color;
}

.RestaurantInfo:hover .title {
  color: title-hover-color;
}

.info {
  composes: layout-vertical;
  text-align: right;
  font-size: font-regular;
}

.info > div {
  line-height: 17px;
  margin: 0;
}

.link {
  margin-left: 20px;
  color: link-color;
}

@media screen-lg {
  .RestaurantInfo {
    padding-left: 0;
    padding-right: 0;
  }
  .info {
    flex-direction: row-reverse;
    font-size: inherit;
  }
  .info > div {
    margin: 0 column-margin;
  }
  /* Note: row is inverted! */
  .info > div:first-of-type {
    margin-right: 0;
  }
  .info > div:last-of-type {
    margin-left: 0;
  }
}