@value font-small, font-xlarge from '../../shared/variables.css';

@value intro-width: 500px;

.NeighbourhoodIntro {
  max-width: intro-width;
  text-align: center;
}

.subtitle {
  font-size: font-small;
  letter-spacing: 2px;
  opacity: 0.6;
  font-weight: 700;
}

.title {
  margin: 25px 0;
  font-size: font-xlarge;
  letter-spacing: 5px;
  font-weight: 500;
}

.description {
  text-transform: none;
  line-height: 24px;
}