@value screen-sm, screen-lg from '../../shared/breakpoints.css';
@value layout-horizontal from '../../shared/layout.css';
@value font-large from '../../shared/variables.css';

@value overlay-bg: rgba(0, 0, 0, 0.9);
@value overlay-hover-bg: rgba(255, 255, 255, 0.2);
@value menu-text-padding: 15px;
@value overlay-max-height: 200px;

.SiteNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
}

.menu {
  background: overlay-bg;
  overflow: hidden;

  /* Change visibility after height transition */
  /* Visibility hidden prevents tabs from going over invisible links */
  transition: max-height 0.1s ease-in, visibility 0.1s;
  max-height: 0;
  visibility: hidden;
}

.SiteNav.open .menu {
  max-height: overlay-max-height;
  visibility: visible;
}

.menu li {
  text-align: center;
}

.menu a {
  display: block;
  letter-spacing: 2px;
  padding: menu-text-padding;
}

.SiteNav.open .menu a:hover {
  background: overlay-hover-bg;
}

.fixedNav {
  composes: layout-horizontal;
  align-items: center;
  justify-content: center;
  position: relative;
  background: black;
  padding: menu-text-padding;
}

.fixedNav > a {
  font-size: font-large;
  letter-spacing: 3px;
}

.toggle {
  position: absolute;
  right: 0;
  cursor: pointer;
  padding: inherit;
}

@media screen-lg {
  .SiteNav {
    position: initial;
    display: flex;
    flex-direction: row;
  }
  .menu {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    max-height: initial;
    visibility: visible;
    background: none;
  }
  .menu li {
    margin-left: 25px;
  }
  .menu a {
    padding: 0;
    display: initial;
  }
}

/* Hamburguer icon animation */
.burger rect {
  transition: all 0.15s linear;
  transform: rotate(0deg);
  transform-origin: 0% 50%;
}

.SiteNav.open .burger rect:nth-child(1) {
  transform: rotate(45deg);
}
.SiteNav.open .burger rect:nth-child(3) {
  transform: rotate(-45deg);
}
.SiteNav.open .burger rect:nth-child(2) {
  width: 0;
  opacity: 0;
}