@font-face {
  font-family: ProximaNova;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Proxima Nova.otf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  font-family: 'ProximaNova', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

/* Simple resets */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}