@value screen-lg from '../../shared/breakpoints.css';
@value layout-vertical, layout-horizontal from '../../shared/layout.css'; 
@value wrapper-margin, content-width from '../../shared/variables.css';

@value border-style: 1px solid rgb(229, 229, 229);

.RestaurantList {
  composes: layout-horizontal;
  justify-content: center;
}
  
.wrapper {
  composes: layout-vertical;
  width: 100%;
  max-width: content-width;
}

.wrapper li:first-child {
  border-top: border-style;
}

.wrapper li {
  border-bottom: border-style;
}

@media screen-lg {
  .wrapper {
    margin: wrapper-margin;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}